@model ControlIC.Controllers.UsuariosController.InputModelProfessor
@{
    ViewData["Title"] = "Cadastro";
}

<style>
    span {
        color: red;
        float: left;
        margin-top: 1%;
        margin-left: 1%;
    }
</style>

<br>
<center>
    <h1>Cadastro</h1>
    <br>
    <br>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

<fieldset style="width: 40%;">
    <br />
    <label>Data de Nascimento</label>
    <input type="date" class="form-control" name="DataNascimento" />
    @Html.ValidationMessageFor(model => model.DataNascimento)
    <br />
    <br />
    <label style="display:inline-block"><input style="display:block; margin: 0 auto" type="radio" name="Genero" value="M" checked="checked" />Homem</label>
    <label style="display:inline-block"><input style="display:block; margin: 0 auto" type="radio" name="Genero" value="F">Mulher</label>
    <label style="display:inline-block"><input style="display:block; margin: 0 auto" type="radio" name="Genero" value="O">Outros</label>
    <br />
    <br />
    <div class="form-group">
        <label asp-for="Titulacao.NomeTitulacao" class="control-label">Titulação</label>
        <select asp-for="Titulacao.NomeTitulacao" class="form-control">
            <option value="Mestre">Mestre</option>
            <option value="Doutor">Doutor</option>
        </select>
    </div>
    <br />
    <label class="control-label">Instituição</label>
    <input type="text" class="form-control" asp-for="Titulacao.NomeInstituicao" />
    <span asp-validation-for="Titulacao.NomeInstituicao"></span>
    <br />
    <br />
    <label class="control-label">Data Titulação</label>
    <input asp-for="Titulacao.DataTitulacao" type="date" class="form-control"/>
    <span asp-validation-for="Titulacao.DataTitulacao"></span>
    <br />
    <br />
    <br />
    <input type="text" class="form-control" name="Linkedin" placeholder="Link seu linkedin..." />
    @Html.ValidationMessageFor(model => model.LinkedIn)
    <br />
    <br />
    <br />
    <button type="submit" class="btn btn-primary" style="background-color: mediumseagreen; border: none;">Finalizar cadastro</button>
    <br /><br /><br />

    @if (ViewBag.Erro != null)
    {
        <h3 style="padding: 20px; color: white; background-color: dimgray">
            @ViewBag.Erro
        </h3>
    }
</fieldset>
    }
</center>