@model ControlIC.Models.Projeto

<h1>Cadastro</h1>

<h4>Projeto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            @{
                if (ViewBag.ErroGeral != null)
                {
                    <span class="text-danger"> @ViewBag.ErroGeral</span><br>
                }
            }

            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutrasInformacoes" class="control-label">Outras informações</label>
                <input asp-for="OutrasInformacoes" class="form-control" />
                <span asp-validation-for="OutrasInformacoes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CampoPesquisaID" class="control-label">Campo de pesquisa</label>
                <input style="width:60%; display:none" id="CampoInput" class="form-control" asp-for="CampoPesquisa.Nome" />
                <select class="form-control" asp-for="CampoPesquisaID" id="CampoSelect" style="display:table-cell; width:60%;" asp-items="ViewBag.CampoPesquisaID"></select>
                <span asp-validation-for="CampoPesquisaID" class="text-danger"></span>
                <label onclick="document.getElementById('CampoInput').value = '' ;HideStuff(event)" style="font-size:xx-large; display:inline-flex; align-items:center; font-weight:bold">+</label>
            </div>

            <div class="form-group">
                <label asp-for="ImgProjetoFormato" class="control-label"> Imagem</label>
                <input accept="image/*" type="file" asp-for="ImgProjetoFormato" />
                <span asp-validation-for="ImgProjetoFormato" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var HideStuff = function (event) {
        var CampoSelect = document.getElementById("CampoSelect");
        var CampoInput = document.getElementById("CampoInput");
        if (CampoInput.style.display == "none") {
            CampoInput.style.display = "table-cell";
            CampoSelect.style.display = "none";
        } else {
            CampoInput.style.display = "none";
            CampoInput.nodeValue = null;
            CampoSelect.style.display = "table-cell";
        }
    };
</script>
